body,html{
	height:100%;
	padding:0px;
	margin:0px;
}

body{
	font-size:2vw;
	color:#999;
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	background-size:10%;
	background-repeat:repeat;
}


.menu{
	position:fixed;
	display:block;
	padding-bottom:90%;
	height:40%;
	z-index:1;
}

.centro	{
    position:absolute;
    top: 5%;
    width: 100%;
    height: 25%;
}

.moon{
	position:fixed;
	bottom: 0;
	width:100%;
}

.moon img{
	position:fixed;
	bottom: 0;
	width:100%;
}

.nave{
	padding-left:33.33%;
	position:absolute;
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
	z-index:0;
}

.earth{
	z-index:-1;
}

.earth img{

	width:50%;
	margin:25%;
}

#altura{
	position:absolute;
	color:red;

	z-index:1;
	padding-left:41%;
	padding-top:4%;
}

#velocidad{
	position:absolute;
	color:red;

	z-index:1;
	padding-left:55%;
	padding-top:4%;
}

#nave{
	height: 90%;
	padding-top:4%;
	display: block;
	margin: auto;
	z-index:0;
}

#bocVelocidad{
	padding-right:40%;
	float:right;
	height: 45%;
	display: block;
	margin: auto;
	z-index:0;
}

#bocAltura{
	padding-left:40%;
	float:left;
	height: 45%;
	
	display: block;
	margin: auto;
	z-index:0;
}

#pause{
	height: 30%;
}

#restart{
	height: 30%;
}

#info{
	height: 30%;
}

#press{
	padding-left:80%;
}

#press1{
	position: absolute;
	width: 20%;
	padding-bottom: 40px;
}

#fuel{
	position: absolute;
	display: block;
    width: 2%;
    z-index: 5;
    left: 49.4%;
 
    height: 50%;
    top: 51%;
}


.instrucciones{
	position:fixed;
	left:25%;
	width:100%;
	z-index:10;
}

#ventana{
	position: absolute;
	left: 25%;
	width: 100%;
}

h1 { 
	color:red;
	position: absolute; 
	top: 0;
	left: 10%; 
	width: 40%; 
	z-index:3;
}

p {
	color: red;
	position: absolute;
	top: 25%;
	left: 5%;
	width: 40%;
	z-index: 3;
}



